@model GuitarShop.Models.ProductsViewModel
@{
    ViewData["Title"] = "Category Manager";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-3">
        <div class="list-group">
            <a asp-action="List" asp-route-id="All"
               class="list-group-item @Model.CheckActiveCategory("All")">
                All
            </a>

            @foreach (var c in Model.Categories)
            {
                <a asp-action="List" asp-route-id="@c.Name"
                   class="list-group-item @Model.CheckActiveCategory(c.Name)">
                    @c.Name
                </a>
            }
        </div>
    </div>

    <div class="col-9">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var category in Model.Categories)
                {
                    <tr>
                        <td>@category.Name</td>
                        <td>
                            <a asp-action="Update"
                               asp-route-id="@category.CategoryID">Update</a>
                        </td>
                        <td>
                            <a asp-action="Delete"
                               asp-route-id="@category.CategoryID">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <a asp-action="Add" class="btn btn-primary">Add New Category</a>
    </div>
</div>
